%p Hi #{@user.name},

%p
  I'm Matt, one of Spruceling's Co-Founders.
  I noticed that you signed up for the site recently.
  Since you're one of our first users, it'd be great to hear your thoughts on Spruceling.
  I'd be grateful if you could answer a few questions:

%p
  1. Did you sign up for Spruceling in order to buy, sell, or both?
%p
  2. If you came to Spruceling to buy, what could we improve about shopping experience?
%p
  3. If you came to Spruceling to sell, what could we improve about the listing process?

%p
  I'd really appreciate any feedback, even if it's just a sentence.
  Thanks very much, and I look forward to seeing you on Spruceling!

%p
  Best,
  %br
  Matt McCormick
  %br
  %br
  Co-Founder, Spruceling Inc
  matt@spruceling.com