- content_for :left_sidebar do
  = render :partial => 'users/edit_sidebar', :layout => 'layouts/left_sidebar'

#new_withdrawal
  .row
    .six.columns
      %h3= "Current Balance: $#{@withdrawal.user.balance}"
      %a#toggle_withdraw{:href => "#"} Withdraw Balance
      #withdraw.hide
        - if @withdrawal.user.balance < 5
          %div You must have at least $5 in your account to withdraw.
        - elsif @withdrawal.user.address.blank?
          %div Please update your shipping address before proceeding
        - else
          %div= render "form"