#under-header
  .main-container
    #charity-meter
      .row
        .desc.nine.columns 10% of every box's price is donated to St. Jude Children's Hospital
        .goal.three.columns December Goal: $200
      .row
        .nice.round.progress
          %span.meter{ :style => "width: 52%" }
          .percentage 52%