.photo= avatar(@user, :width => 200, :height => 200, :crop => :thumb, :gravity => :face)

%h4.username= @user.name
.city= @user.address["city"] if @user.address

.head{:class => controller.action_name == "show" ? "on" : ""}
  My Boxes

.section.box-sidebar-filters
  .section-head Active
  .section-head Sold