.photo= avatar(@user, :width => 200, :crop => :fit)

%h1.username= @user.name
.city= @user.address["city"] if @user.address

.head{:class => controller.action_name == "show" ? "on" : ""}
  My Boxes

.section.box-sidebar-filters
  .section-head Active
  .section-head Sold