.photo= avatar(@user, :width => 200, :crop => :fit)

%h1.username= @user.name
.city Philadelphia, PA

.head.on
  .icon
  My Boxes

.section.box-sidebar-filters
  .section-head Active
  .section-head Sold