- content_for :left_sidebar do
  = render :partial => 'edit_sidebar', :layout => 'layouts/left_sidebar'

#edit_balance
  .row
    .six.columns
      %h3= "Current Balance: $#{@user.balance}"
      %a#toggle_withdraw
      %form.hide.widthraw_form{:method => "POST", :action => withdraw_path}

