.blank-box
  .none Hmm, there are no more boxes to show here.
  %a.upload{:href => new_box_path} List a Box
  .share
    Have friends with clothing taking up space?
  .buttons
    <div class="fb-like" data-href="http://www.facebook.com/Spruceling" data-send="false" data-width="260" data-show-faces="false"></div>
    <a href="https://twitter.com/share?url=http://www.spruceling.com&text=" class="twitter-share-button" data-lang="en">Tweet</a>