.section
  %h5 GENDER
  .content
    %ul.button-group.even.three-up.genders
      %li.a_wrapper
        %a.medium.secondary.button{:href => boxes_path(:size => params[:size]), :class => ("on" unless %w(m f).include? params[:gender])} Both
      %li.a_wrapper
        %a.medium.secondary.button{:href => boxes_path(:gender => 'm', :size => params[:size]), :class => ("on" if 'm' == params[:gender])} Boys
      %li.a_wrapper
        %a.medium.secondary.button{:href => boxes_path(:gender => 'f', :size => params[:size]), :class => ("on" if 'f' == params[:gender])} Girls

.section
  %h5 SIZE
  .content
    %ul.single-select.sizes
      %li.a_wrapper
        %a{:href => boxes_path(:gender => params[:gender]), :class => ("on" unless Item.all_sizes.include? params[:size])} All Sizes
      - Item.all_sizes.each do |size|
        %li.a_wrapper
          %a{:href => boxes_path(:gender => params[:gender], :size => size), :class => ("on" if size == params[:size])}= size

-#.section
-#  %h5 BRAND
-#  .content
-#    %ul.multi-select
-#      - Brand.all.each do |brand|
-#        %li= brand.name