- content_for :left_sidebar do
  = render :partial => "sidebar", :layout => 'layouts/left_sidebar'

#box_list
  - @boxes.each do |box|
    = render 'boxes/teaser', :box => box

  -if @boxes.length != 8
    = render 'boxes/no_more_boxes'

%br

#box_paginator
  = paginate @boxes
