.head
  %h1 New Box
.content
  .section
    - if current_user.address.blank?
      %h5.address-h Step 1. Please provide us with your address
      .subheader so that we can send you a shipping kit when your box sells.
      = render 'users/address_form'
    - else
      = render 'nav_form'