.section
  %h5 GENDER
  .content
    %ul.button-group.even.three-up
      %li
        %a.small.secondary.button{:href => ''} Both
      %li
        %a.small.secondary.button{:href => ''} Boys
      %li
        %a.small.secondary.button{:href => ''} Girls

.section
  %h5 SIZE
  .content
    %ul.single-select
      - Item.all_sizes.each do |size|
        %li= size

-#.section
-#  %h5 BRAND
-#  .content
-#    %ul.multi-select
-#      - Brand.all.each do |brand|
-#        %li= brand.name