.section
  %h5.with-border GENDER
  .content
    %ul.button-group.even.three-up
      %li.small.secondary.button Both
      %li.small.secondary.button Boys
      %li.small.secondary.button Girls

.section
  %h5 SIZE
  .content
    %ul.single-select
      - Item.all_sizes.each do |size|
        %li= size

.section
  %h5 BRAND
  .content
    %ul.multi-select
      - Brand.all.each do |brand|
        %li= brand.name