- content_for :left_sidebar do
  = render :partial => "sidebar", :layout => 'layouts/left_sidebar'

#box_list
  - @boxes.each do |box|
    = render 'boxes/teaser', :box => box

%br

= link_to 'New Box', new_box_path

#box_paginator
  = paginate @boxes
