<% content_for :left_sidebar do %>
  <%= render :partial => "sidebar", :layout => 'layouts/left_sidebar' %>
<% end %>

<h3>Home</h3>

<p>
  <%= link_to "Browse Boxes", boxes_path %>
</p>

<p>
  <%= link_to "My Boxes", my_boxes_path %>
</p>

<p>
<%= link_to "My Items", items_path %>
</p>

<%# @users.each do |user| %>
  <!--<p>User: <%#=link_to user.name, user %></p>-->
<%# end %>