.top_strip
  = image_tag('spruceling_logo.png', :alt => 'Spruceling')


.main
  .floater
    %h1 Save money, reduce clutter, and put gently used childrens' clothing to good use with the new Spruceling marketplace.
    %h2
      Coming Soon!
      -#= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook), :class => 'login'

  = image_tag('kid_bg.jpeg', :class => 'bg')

-#.bottom_strip
-#  .step.one
-#    .icon
-#    .head Cool Thing 1
-#    .body Yo yo
-#  .step.one
-#    .icon
-#    .head Cool Thing 2
-#    .body Yo yo
-#  .step.one
-#    .icon
-#    .head Cool Thing 3
-#    .body Yo yo

-##footer
-#  != "#{link_to 'Login', new_user_session_path} | #{link_to 'Sign up', new_user_registration_path}"