.top_strip
  = image_tag('spruceling_logo.png', :alt => 'Spruceling')
  = render 'layouts/messages'

.main
  .floater
    %h1 Save money, reduce clutter, and put gently used childrens' clothing to good use with the new Spruceling marketplace.
    %h2
      -#= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook), :class => 'login'

    .lrdiscoverwidget{:rel => 'OW45YWTV', 'data-logo' => 'off', 'data-background' => 'off', 'data-share-url' => 'www.spruceling.com', 'data-css' => ''}
    %script{:type => 'text/javascript', :src => 'http://launchrock-ignition.s3.amazonaws.com/ignition.1.1.js'}