%h1 Listing orders

%table
  %tr
    %th
    %th
    %th
    %th

  - @orders.each do |order|
    %tr
      %td= "Order ##{order.id}"
      %td= link_to 'Show', order

%br

= link_to 'New Order', new_order_path
