.section
  .row
    %h2 Turn your used kids' clothes into cash
    .sub-h Sell directly to other parents

    .eight.columns
      .video.flex-video
        <iframe src="http://player.vimeo.com/video/54301668?badge=0" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> <p><a href="http://vimeo.com/54301668">Introducing Spruceling</a> from <a href="http://vimeo.com/user14899246">Spruceling Inc.</a> on <a href="http://vimeo.com">Vimeo</a>.</p>
    .box-link.four.columns
      %div
        %div Get real value out of your kids' used clothes
        = link_to "List a box", new_box_path, :class => "medium action button"

.section.odd.steps
  %h2 Parents like things simple
  %ul
    %li
      .number 1
      List your kids' gently used clothes for sale
      .sub-step It's free, and it just takes a few minutes
    %li
      .number 2
      Earn more than you would at consignment
      .sub-step A consignment store might give you 30%. Spruceling gives you #{number_to_percentage(100 - (Order.spruceling_cut * 100), :precision => 0)}.
    %li
      .number 3
      Use your Spruceling balance to buy clothes that fit!
      .sub-step Or you can withdraw and use it for something else

.section.row.annoying
  %h2 We'll take care of the annoying stuff
  .four.columns.offset-by-two
    .wrapper
      %i.icon-money
    %h4 Payment
    %div All payments are handled securely and are fully PCI compliant
  .four.columns.end.middle
    .wrapper
      %i.icon-truck
    %h4 Shipping
    %div When your box is bought, we'll send you an empty box. Just put the clothes in and send it off!
  -#.four.columns
  -#  .wrapper
  -#    %i.icon-question-sign
  -#  %h4 Something Else
  -#  %div Here's another thing that sounds super easy!

.section.row.odd.get-more
  %h2 Buy kids' clothes for less, sell yours for more
  .sub-h Spruceling cuts out the middle man
  .five.columns
    .logo= image_tag('spruceling_logo.png', :alt => 'Spruceling', :height => 75)
    .top.row
      .parent-a Parent A
      %i.icon-arrow-right
      Consignment
      %i.icon-arrow-right
      .parent-b Parent B
    .bottom.row
      .parent-a Parent A
      gets 30%, and
      .parent-b Parent B
      pays more

  .vs.two.columns VS

  .five.columns
    %h3.consignment-title Consignment
    .top.row
      .parent-a Parent A
      %i.icon-arrow-right
      .parent-b Parent B
    .bottom.row
      .parent-a Parent A
      gets #{number_to_percentage(100 - (Order.spruceling_cut * 100), :precision => 0)}, and
      .parent-b Parent B
      pays less