.head
  %h1 Contact
.content
  .section.row
    %div
      %span Twitter
      %a{:href => "http://twitter.com/spruceling"} @Spruceling

    %div
      %span Facebook
      %a{:href => "http://facebook.com/spruceling"} facebook.com/spruceling

    %div
      %span Spruceling Support
      %a{:href => "mailto:support@spruceling.com"} support@spruceling.com