.head
  %h1 Return Policy
.content
  .section
    %h5 Return procedure:
    %p
      Spruceling is happy to accept returns on any items in the same condition as it was listed by the Seller within thirty (30)
      days of your receipt of the order. In order to return an item to Spruceling, please follow the procedure outlined below:

    %ol
      %li You must email Support@Spruceling.com within three (3) days of receiving your order.

      %li
        Then, you must ship your order in a timely fashion, so that it is received within the ten-day period. Items must
        be returned with all original enclosed packaging, exactly as sent to you from the seller. Return shipping is not paid
        by Spruceling. We encourage you to purchase insurance, because you are responsible for the item until it reaches
        Spruceling.

      %li
        Spruceling will evaluate the condition of the item you returned, and compare it with the Seller's description of
        the item at the time of sale. Spruceling will also consider all information provided in your email submission when
        determining what type of refund will be issued to you. If a seller misrepresented the item in their listing (e.g., the item
        is damaged or defective), you must include such details in the email. Spruceling may contact you for further details.
        Failure to respond to Spruceling's request for information may result in denial of a credit or refund.

      %li
        Spruceling will issue a full refund to your original payment source, or a Spruceling store credit, at the sole
        discretion of Spruceling based on the guidelines below ("Refund and Credit Guidelines").

      %li Spruceling will notify you via email when your refund or credit is processed.

    %h5 Refund and credit Guidelines
    %p
      Assuming that you have properly followed the steps above by submitting an email to Support@Spruceling.com and
      shipping the returned item within the allocated time frame, you will receive a full refund to your original payment
      source if:
    %ol
      %li
        Your item was received in any condition other than that stated by the seller in their Spruceling listing (including but
        not limited to designer fakes, damaged goods, and misrepresented sizing).
        You will receive a full Spruceling store credit minus a 12% restocking fee if:
      %li
        You are dissatisfied with the item for any reason (including but not limited to fit, style, or just changing your mind).
        Spruceling credit may be used to purchase any item on Spruceling.com. Spruceling credit is non-transferable,
        meaning you may not transfer your Spruceling credit to another member or convert it into cash or credit payment.
        Spruceling credit does not expire and may be used to purchase any item on Spruceling.com.