.head
  %h1 Send in Clothes!
.content
  .section.row
    %p This feature is currently under development.
    %p In the meantime, please email #{link_to "support@spruceling.com", "mailto:support@spruceling.com"} with the following information:
    %ul
      %li Name
      %li Full Address
      %li Estimate of number of items