%section.static.team.head
  %h1 The Spruceling Team

.content
  .section
    = image_tag "team_ryan.jpg"
    %h3 Ryan Coyne
    %h5 Co-Founder - <a target="_blank" href="http://twitter.com/rcoyne22">@RCoyne22</a>
    %p A rockstar entrepreneur by age 9, Ryan is no stranger to building companies that help people. His first taste of the business world came from a landscaping company he started with a neighborhood buddy. They provided the neighborhood’s best (the neighborhood’s only) pet feeding and flower watering services to families on vacation. As far as we know, all pets lived to tell the tale of Ryan’s caretaking.

    %p Eventually, Ryan surprised everyone and made it to college where he spent four years as a varsity rower for Cornell University, graduating in 2010. After two years of Wall Street tycoon-ing Ryan was led back to his entrepreneurial roots at DreamIt Ventures where Spruceling was born.

    %p Ryan can usually be found answering press inquiries, talking to investors about how amazing Spruceling is, and doing pretty much anything else that doesn’t require coding. If you can’t find him there, Ryan@Spruceling.com will work just fine.

  .section
    = image_tag "team_matt.jpg"
    %h3 Matt McCormick
    %h5 Co-Founder - <a target="_blank" href="http://twitter.com/mattcmccormick">@MattCMcCormick</a>
    %p Matt has 2 major loves in his life, performing and making computers do cool things. The programming started when he got into high school, and the singing started with his killer Elmo impression at the age of 3.

    %p We know what you’re thinking… “Hey, I think I know that guy!”. Well you probably do! Matt appeared on season 1 of NBC's The Sing-Off with the Tufts Beelzebubs. They came in 2nd place. He also had his hair played with by Nicole Scherzinger on national TV (Celebrity Endorsement? We think so!).

    %p Matt wants to make products that affect millions of people in a positive way (awww..). Since kids are people, this works out.

    %p Matt can usually be found conducting the technological wizardry that makes Spruceling the top notch marketplace that it is. He can also be found belting out catchy tine around the office. All fan mail can be directed to Matt@Spruceling.com.

  .section
    = image_tag "team_marc.jpg"
    %h3 Marc MacLeod
    %h5 Co-Founder - <a target="_blank" href="http://twitter.com/marbemac">@Marbemac</a>
    %p Marc loves to build stuff. His passions for building began at age 5 with the k'nex contraptions he built that ended up being larger than he was. As the years moved on, the k’nex sets turned into desktop computers. Finally, at the age of 13, Marc discovered software engineering.

    %p 3 years after his entrance into the world of programming Marc was running his first business - an ecommerce platform to sell kitchenware online. He ran the business profitably for 2 years until college commitments forced him to shut it down.

    %p With degrees in computer science and economics marc is excited to build products that affect the whole world!

    %p Marc can also usually be found conducting the technological wizardry that makes Spruceling the top notch marketplace that it is. He can also be found cooking dinner for the Spruceling team – he can whip up a mean bowl of pasta. Dinner recommendations can be sent to Marc@Spruceling.com.


  .section
    = image_tag "team_will.jpg"
    %h3 William Quartner
    %h5 Co-Founder - <a target="_blank" href="http://twitter.com/wquartner">@WQuartner</a>
    %p An enterprising youth by nature, Will took the helm of his high school newspaper and turned it profitable for this first time in its history; he's hoping to help do the same with Spruceling.

    %p Will graduated with a degree in economics from Cornell University and has spent the past four years on Wall Street, first in mergers and acquisitions and more recently in private equity.

    %p Will currently resides in New York City and hopes he can help build Spruceling into a global marketplace helping families around the world.

    %p Will can usually be found pondering the critical questions that Spruceling faces on a regular basis. He can also be found shopping online for a new computer, buying it and then returning it days later, unsatisfied. All laptop recommendations can be sent over to Will@Spruceling.com.
