%h1 Terms and Conditions

<div class="WordSection1 section">

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>PLEASE
READ THESE TERMS OF USE (&quot;AGREEMENT&quot; OR &quot;TERMS OF USE&quot;)
CAREFULLY BEFORE USING THE WEBSITE AND SERVICES OFFERED BY SPRUCELING.COM.
(&quot;SPRUCELING&quot; OR “COMPANY”). THIS AGREEMENT SETS FORTH THE LEGALLY
BINDING TERMS AND CONDITIONS FOR YOUR USE OF THE WEBSITE AT WWW.SPRUCELING.COM
(THE &quot;WEBSITE&quot;) AND ALL SERVICES PROVIDED BY SPRUCELING ON THE
WEBSITE. <o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>By
using the Website in any manner, including but not limited to visiting or
browsing the Website, you (the &quot;user&quot; or &quot;you&quot;) agree to be
bound by this Agreement, including those additional terms and conditions and
policies referenced herein and/or available by hyperlink. This Agreement
applies to all users of the Website, including without limitation users who are
vendors, customers, merchants, contributors of content, information and other
materials or services on the Website. <o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal;mso-outline-level:3'><b><span style='font-size:13.5pt;
font-family:"Times New Roman";mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:"Times New Roman"'>1. “Company Services”: Spruceling as a
Platform<o:p></o:p></span></b></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>Spruceling
is a platform whereby users (“Buyers” and “Sellers”), in accordance to
Company's policies and this Agreement and the Seller’s Participation Agreement,
offer, sell, buy, and trade certain goods (“Company Services” or “Services”),
such as clothing. <o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal;mso-outline-level:3'><b><span style='font-size:13.5pt;
font-family:"Times New Roman";mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:"Times New Roman"'>2. Disclaimers and Limitation of
Liability<o:p></o:p></span></b></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>Spruceling
is not involved in the actual transaction between Buyers and Sellers. While Spruceling
may help facilitate the resolution of disputes through various programs, and
may provide guarantees which are backed by the Spruceling Return Policy, we
have no control over and do not guarantee the existence, quality, safety, or
legality of items advertised; the truth or accuracy of users' content or
listings; the ability of Sellers to sell items; the ability of Buyers to pay
for items; that a Buyer or Seller will actually complete a transaction or
return an item; the legal transfer of item from the Seller to the Buyer; or
that a buyer or seller will actually complete a transaction.<o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>Rather,
our goal at Spruceling is to maintain our Website, the Company Services, and
any tools, in a manner that is safe, secure, and functioning properly. You
acknowledge that we cannot guarantee the continuous operation of or access to
our Website, services, or tools. You further acknowledge that operation of and
access to our Website, services, or tools may be interfered with as a result of
technical issues or numerous factors outside of our control. You agree that you
are making use of our Website, services, and tools at your own risk, and that
they are being provided to you on an &quot;AS IS&quot; and &quot;AS
AVAILABLE&quot; basis. Accordingly, to the extent permitted by applicable law,
we exclude all express or implied warranties, terms and conditions including,
but not limited to, implied warranties of merchantability, fitness for a
particular purpose, and non-infringement. In addition, to the extent permitted
by applicable law, we are not liable, and you agree not to hold Company
responsible, for any damages or losses (including, but not limited to, loss of
money, goodwill or reputation, profits, or other intangible losses or any
special, indirect, or consequential damages) resulting directly or indirectly
from:<o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>•
Your use of or your inability to use our Website, Services and tools; <o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>•
Delays or disruptions in our Website, Services, or tools; <o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>•
Viruses or other malicious software obtained by accessing our Website,
Services, or tools or any site, Services, or tool linked to our Website,
Services, or tools; <o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>•
Glitches, bugs, errors, or inaccuracies of any kind in our Website, Services,
and tools or in the information and graphics obtained from them; <o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>•
The content, actions, or inactions of third parties, including items listed
using our Website, services, or tools or the destruction of allegedly fake
items; <o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>•
A suspension or other action taken with respect to your account; and <o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>•
The duration or manner in which, as a seller, your listings appear in search
results. <o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>Your
need to modify practices, content, or behavior or your loss of or inability to
do business, as a result of changes to this User Agreement or our policies;
Company reserves the right to modify its policies and this User Agreement at
any time consistent with the provisions outlined herein. Some jurisdictions do
not allow the disclaimer of warranties or exclusion of damages, so such disclaimers
and exclusions may not apply to you. <o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>Regardless
of the previous paragraphs, if we are found to be liable, our liability to you
or to any third party is limited to the greater of (a) any amounts due under
the this document up to the price the item sold for on Company Website
(including any applicable sales tax) and its original shipping costs, (b) the
amount of fees in dispute not to exceed the total fees which you paid to Spruceling
in the 12 months prior to the action giving rise to the liability, or (c) $100.
<o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal;mso-outline-level:3'><b><span style='font-size:13.5pt;
font-family:"Times New Roman";mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:"Times New Roman"'>3. Website Access<o:p></o:p></span></b></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal'><b><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>a.
Accounts</span></b><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>
<o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>In
order to use the Website or the Services, you must register for an account with
Spruceling (an “Account”) and provide certain information. You represent and
warrant that all required registration information you submit is truthful and
accurate, and you will maintain the accuracy of such information. You are
responsible for maintaining the confidentiality of your Account login
information and are fully responsible for all activities that occur under your
Account. You agree to immediately notify Company of any unauthorized use, or
suspected unauthorized use of your Account or any other breach of security.
Company cannot and will not be liable for any loss or damage arising from your
failure to comply with the above requirements. <o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal'><b><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>b.
License.</span></b><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>
<o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>Subject
to the Terms, Spruceling grants you a limited, non-exclusive, nontransferable
personal (i.e., non-commercial) license to access and use the Website and
Services. The rights granted to you by the Terms will remain in force only for
so long as the Terms remain in effect. You may not rent, transfer, assign,
commercially exploit, resell or sublicense access to the Service to any
third-party. You will not (nor will you cause any of your employees,
contractors, agents and principals to) directly or indirectly reverse engineer,
decompile, disassemble or otherwise attempt to derive source code or other
trade secrets from any of Company’s technology. Any future release, update, or
other addition to functionality of the Website or Services shall be subject to
the Terms. You agree not to use the Website or the Services to: (a) violate any
local, state, national or international law; (b) stalk, harass or harm another
individual; (c) collect or store personal data about other users; (d)
impersonate any person or entity, or otherwise misrepresent your affiliation
with a person or entity; or (e) interfere with or disrupt the Services or
servers or networks connected to the Services, or disobey any requirements,
procedures, policies or regulations of networks connected to the Services. You
may not (i) use any high volume, automated, or electronic means to access the
Services (including, without limitation, robots, spiders or scripts); or (ii)
frame the Website, place pop-up windows over its pages, or otherwise affect the
display of its pages. <o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal'><b><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>c.
Third-Party Offerings</span></b><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>
<o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>You
may be able to access websites, content, products or services provided by
third-parties through links that are made available on the Website. We refer to
all such websites, content, services and products as “Third-Party Offerings.”
For example, we may permit third parties to advertise their products and services
on the Website, and those advertisements may contain links to the website(s) of
the advertisers. If you elect to use such Third-Party Offerings, you understand
that your use of them will be subject to any terms and conditions required by
the applicable third-party provider(s). You understand that we are not the
provider of, and are not responsible for, any such Third-Party Offerings and
that the Terms do not themselves grant you any rights to access, use or
purchase any Third-Party Offerings. <o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal;mso-outline-level:3'><b><span style='font-size:13.5pt;
font-family:"Times New Roman";mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:"Times New Roman"'>4. Membership Eligibility<o:p></o:p></span></b></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal'><b><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>a.
United States Resident</span></b><span style='font-size:12.0pt;font-family:
"Times New Roman";mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:
"Times New Roman"'> <o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>Currently,
Company’s Services are only available to buyers and sellers who are located in
the United States. <o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal'><b><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>b.
Age</span></b><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>
<o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>Company's
Services are available only to, and may only be used by, individuals who are 18
years and older who can form legally binding contracts under applicable law.
You represent and warrant that you are at least 18 years old and that all
registration information you submit is accurate and truthful. Company may, in
its sole discretion, refuse to offer access to or use of the Website to any
person or entity and change its eligibility criteria at any time. This
provision is void where prohibited by law and the right to access the Website
is revoked in such jurisdictions. <o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>Individuals
under the age of 18 must at all times use Company's Services only in
conjunction with and under the supervision of a parent or legal guardian who is
at least 18 years of age. In this all cases, the adult is the user and is
responsible for any and all activities. <o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal'><b><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>c.
Compliance</span></b><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>
<o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>You
agree to comply with all local laws regarding online conduct and acceptable
content. You are responsible for all applicable taxes. In addition, you must
abide by Company's policies as stated in the Agreement as well as all other
operating rules, policies and procedures that may be published from time to
time on the Website by Company.<o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal'><b><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>d.
Password</span></b><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>
<o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>Keep
your password secure. You are fully responsible for all activity, liability and
damage resulting from your failure to maintain password confidentiality. You
agree to immediately notify Company of any unauthorized use of your password or
any breach of security. You also agree that Company cannot and will not be
liable for any loss or damage arising from your failure to keep your password
secure. You agree not to provide your username and password information in
combination to any other party other than Company without Company's express
written permission. <o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal'><b><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>e.
Account Information</span></b><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>
<o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>You
must keep your account information up-to-date and accurate at all times,
including a valid email address. <o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal'><b><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>f.
Account Transfer</span></b><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>
<o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>You
may not transfer or sell your Spruceling account and User ID to another party.
If you are registering as a business entity, you personally guarantee that you
have the authority to bind the entity to this Agreement. <o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal'><b><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>g.
Right to Refuse Services</span></b><span style='font-size:12.0pt;font-family:
"Times New Roman";mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:
"Times New Roman"'> <o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>Company's
Services are not available to temporarily or indefinitely suspended Spruceling
members. Company reserves the right, in Company's sole discretion, to cancel
unconfirmed or inactive accounts. Company reserves the right to refuse service
to anyone, for any reason, at any time. <o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal;mso-outline-level:3'><b><span style='font-size:13.5pt;
font-family:"Times New Roman";mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:"Times New Roman"'>5. Fees and Termination<o:p></o:p></span></b></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal'><b><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>a.
Fees</span></b><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>
<o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>Joining
Spruceling is free. Spruceling has two (1) level of membership. All members who
are sellers pay a percentage of the sale price when their item(s) sell(s). <o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>Company
may, at Company's sole discretion, change some or all of Company Services at
any time. In the event Company introduces a new service, the fees for that
service are effective at the launch of the service. Unless otherwise stated,
all fees are quoted in US Dollars (USD). <o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>You
are responsible for paying all fees and applicable taxes associated with using
Company’s Services. Company keeps accepted payment information for some members
on file. <o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal'><b><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>b.
Termination</span></b><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>
<o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>If
Company terminates a listing or your account, if you close your account, or if
the payment of your Company fees cannot be completed for any reason, you remain
obligated to pay Company for all unpaid fees plus any penalties, if applicable.
If the seller's account is not paid in full and becomes past due, the seller
risks penalties such as the suspension of privileges and/or termination of the
account and other collection mechanisms (including retaining collection
agencies and legal counsel). <o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal;mso-outline-level:3'><b><span style='font-size:13.5pt;
font-family:"Times New Roman";mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:"Times New Roman"'>6. Good Samaritan Third-Party Content
Policy and Complaint Procedure:<o:p></o:p></span></b></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>Company
respects the legal rights of others, and we ask that our users do the same. It
is Company's policy to respond to notices of alleged copyright or other forms
of infringement that comply with the applicable international intellectual
property laws (including, in the United States, the Digital Millennium
Copyright Act). If you believe that your intellectual property rights have been
infringed, please provide Company with written notice of such infringement that
includes the following information: <o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>•
A physical or electronic signature of a person authorized to act on behalf of
the owner of an exclusive right that is allegedly infringed. <o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>•
<span class=SpellE>Identifcation</span> of the work claimed to have been
infringed, or, if multiple works at a single online site are covered by a
single notification, a representative list of such works at that site. <o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>•
Identification of the material that is claimed to be infringing or to be the
subject of infringing activity and that is to be removed or access to which is
to be disabled, and information reasonably sufficient to permit the service
provider to locate the material. <o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>•
Information reasonably sufficient to permit the service provider to contact the
complaining party, such as an address, telephone number, and, if available, an
electronic mail address at which the complaining party may be contacted. <o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>•
A statement that the complaining party has a good faith belief that use of the
material in the manner complained of is not authorized by the rights holder,
its/his/ her agent, or the law. <o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>•
A statement that the information in the notification is accurate, and under
penalty of perjury, that the complaining party is authorized to act on behalf
of the owner of an exclusive right that is allegedly infringed. <o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>Notices
should be delivered to Company's Agent for Infringement Claims: <o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>Spruceling
Inc.<o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>20
Valley Stream Parkway Suite 265<o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>Malvern
PA 19355<o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>Repeat
offenders will, at Company's option, have their user accounts and/or access to
the Company Services, including without limitation the Website, removed or
disabled. If Company disables or removes your user account or any content or
other materials you have posted, and you believe this was done in error, please
forward a written notice stating same and providing any supporting
documentation necessary to establish your rights. Said notice can be delivered
to the agent referenced above. <o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>Please
note: The DMCA provides that you may be liable for damages (including costs and
attorneys fees) if you falsely claim that materials infringe your copyrights.
We recommend contacting an attorney if you are unsure whether your content is
protected by copyright laws. <o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal;mso-outline-level:3'><b><span style='font-size:13.5pt;
font-family:"Times New Roman";mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:"Times New Roman"'>7. Listing and Selling<o:p></o:p></span></b></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal'><b><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>a.
Eligible and Ineligible Items</span></b><span style='font-size:12.0pt;
font-family:"Times New Roman";mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:"Times New Roman"'> <o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>You
may list and sell new and used apparel on Spruceling. You may not list or sell
the following items on Spruceling: <o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>•
<span class=GramE>designer</span> knockoffs (items that are counterfeit,
inauthentic, or not manufactured by the designer whose name, logo, trademark,
or design is represented in or on the item); <o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>•
non-apparel items, including but not limited to home goods, decorative objects,
beauty or skincare products)<o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal'><b><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>b.
Accurate Description</span></b><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>
<o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>By
listing an item for sale on Spruceling.com, you warrant that you and all
aspects of the item comply with <span class=SpellE>Spruceling's</span>
published policies. You also warrant that you may legally sell the item. You
must accurately describe your item, including a clear description of any
damage. Your listings may only include text descriptions, graphics, pictures
and other content relevant to the sale of that item. All items must be listed
in an appropriate category with appropriate descriptions. Each listing must
accurately and completely describe the item/ items for sale in that listing.
Each unique item must have its own listing. <o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal'><b><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>c.
Binding Sale</span></b><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>
<o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>All
sales are binding. The seller is obligated to ship the order to complete the
transaction with the buyer in a prompt manner, unless there is an exceptional
circumstance. If you do not complete a transaction, your account and all
listings will be suspended and removed from the Site, and may be reinstated at <span
class=SpellE>Spruceling’s</span> sole discretion. <o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal'><b><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>d.
Fee Avoidance</span></b><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>
<o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>Sellers
and buyers may not exchange personal information or transact without using Spruceling
Secure Checkout for the purpose of avoiding Spruceling transaction fees.
Members may not misrepresent an item's location, or use another user's account
without permission. <o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal;mso-outline-level:3'><b><span style='font-size:13.5pt;
font-family:"Times New Roman";mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:"Times New Roman"'>8. Prohibited, Questionable and
Infringing Items and Activities<o:p></o:p></span></b></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>You
are solely responsible for your conduct and activities on and regarding to
Company and any and all data, text, information, usernames, graphics, images,
photographs, profiles, audio, video, items, and links (together,
&quot;Content&quot;) that you submit, post, and display on Website. <o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>You
are forbidden from the following, but not limited to: <o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>•
criminal or tortious activity, including selling of illegal, counterfeit or
stolen items; child pornography, fraud, trafficking in obscene material, drug
dealing, gambling, harassment, stalking, spamming, copyright infringement,
patent infringement, or theft of trade secrets; <o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>•
transmitting chain letters or junk email to other users; <o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>•
using any information obtained from the website in order to contact, advertise
to, solicit, or sell to any other user without prior explicit consent; <o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>•
infringe upon any third-party's copyright, patent, trademark, trade secret or
other proprietary or intellectual property rights or rights of publicity or
privacy; <o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>•
engaging in any automated use of the systems, such as using scripts to add
friends or send comments or messages; <o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>•
circumvent, disable or modify security or access-control mechanisms, or to
encourage or assist others in doing so; <o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>•
unauthorized access to the Website or any other system or network connected
thereto or interfacing therewith or otherwise belonging to Company or any of
its clients affiliates or agents by &quot;hacking,&quot; &quot;cracking,&quot;
&quot;password mining,&quot; &quot;social engineering&quot; or other
illegitimate means; <o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>•
<span class=GramE>falsely</span> represent that you are or that you represent
some other individual or entity; <o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>•
upload, store, distribute or disseminate electronic files that are corrupted or
contain viruses, &quot;<span class=SpellE>trojans</span>,&quot; &quot;spyware,&quot;
&quot;adware,&quot; &quot;malware&quot; or any other malicious components, or
take any measures, such as implementing &quot;denial of service&quot; attacks,
&quot;email bombs&quot; or other techniques that impose an unreasonable or
disproportionately large burden on the Website or any other Company system or
network, or that are otherwise connected to or interface such systems or
networks; <o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>•
access, procure or use any materials provided by or belonging to Company
(including without limitation the Website) via automated extraction methods or
tools such as &quot;robots,&quot; &quot;<span class=SpellE>screenscrapers</span>,&quot;
&quot;spiders&quot; and data mining tools without Company's consent (e.g.
designation in a &quot;robots.txt&quot; file). <o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>•
download, save, store or &quot;mirror&quot; any copies of the Website or any
materials or information displayed on or accessible via the Website or any
other Service Website without Company's explicit consent (such as where it is
clearly indicated that the item is intended for downloading); and <o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>•
manipulate, display or access the Website or any materials or information found
thereon using &quot;framing,&quot; &quot;deep linking&quot; or similar
techniques that bypass or circumnavigate the intended architecture and layout
of the Website. <o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>Your
listings, which includes your profile, listing, listing description, listing
images, or internal messaging (“Content”) shall not: <o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>•
violate this Agreement, any site policy or community guidelines, or any
applicable law, statute, ordinance or regulation (including, but not limited
to, those governing export control, consumer protection, unfair competition,
anti-discrimination or false advertising); <o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>•
contain items that have been identified by the U.S. Consumer Products Safety
Commission (CPSC) as hazardous to consumers and therefore subject to a recall; <o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>•
contain illegal, counterfeit or stolen items; <o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>•
<span class=GramE>host</span> images not part of a listing <o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>•
link directly or indirectly, reference or contain descriptions of goods or
services that are prohibited under this Agreement or other policy documents as
posted on Website; and <o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>•
list any item on Website (or consummate any transaction that was initiated
using Company's Services) that, by paying to Company the membership fee or the
final commission fee, could cause Company to violate any applicable law,
statute, ordinance or regulation.<o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal;mso-outline-level:3'><b><span style='font-size:13.5pt;
font-family:"Times New Roman";mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:"Times New Roman"'>9. Content<o:p></o:p></span></b></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal'><b><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>a.
License</span></b><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>
<o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>Company
does not claim ownership rights to your Content. You grant Company a license
solely to enable Company to use any information or Content you supply Company
with, so that Company is not violating any rights you might have in that
Content. You grant Company a non-exclusive, worldwide, perpetual, irrevocable,
royalty-free, <span class=SpellE>sublicensable</span> (through multiple tiers)
right to exercise the copyright, publicity, and database rights (but no other
rights) you have in the Content, in any media now known or not currently known,
with respect to your Content. You agree to allow Company to store or re-format
your Content on Website and display your Content on Website in any way as
Company chooses. Company will only use personal information in accordance with
Company's Privacy Policy. <o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>As
part of a transaction, you may obtain personal information, including email
address and shipping information, from another Spruceling user. Without
obtaining prior permission from the other user, this personal information shall
only be used for that transaction or for Company-related communications.
Company has not granted you a license to use the information for unsolicited
commercial messages. Without limiting the foregoing, without express consent
from the user, you are not licensed to add any Spruceling user to your email or
physical mail list. For more information, see Spruceling Privacy Policy.<o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal'><b><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>b.
Re-Posting Content</span></b><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>
<o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>By
posting Content on Website, it is possible for an outside website or a third
party to re-post that Content. You agree to hold Company harmless for any
dispute concerning this use.<o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal;mso-outline-level:3'><b><span style='font-size:13.5pt;
font-family:"Times New Roman";mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:"Times New Roman"'>10. Indemnification<o:p></o:p></span></b></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>Each
party agrees to indemnify, defend and hold harmless the other party, along with
its respective directors, officers, employees, parents, subsidiaries,
affiliates, stockholders, agents and contractors, from any claim or demand,
including reasonable attorneys' fees and costs of suit (&quot;Claim&quot; or
collectively &quot;Claims&quot;) made by any third party due to or arising out
of a violation of the indemnifying party's breach or violation of any Term
(including, without limitation, any representation or warranty) or the legal
rights of another. The indemnified party shall provide prompt written notice to
the indemnifying party of any such Claim immediately upon receipt thereof. Once
notice is given, the indemnifying party shall have the right to assume, in its
sole discretion, the exclusive defense and control of the matter or determine
whether (and how) to resolve it amicably. The indemnified party shall cooperate
fully with the indemnifying party's reasonable efforts. <o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal;mso-outline-level:3'><b><span style='font-size:13.5pt;
font-family:"Times New Roman";mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:"Times New Roman"'>11. Termination<o:p></o:p></span></b></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>If
you fail (or if Company suspects that you failed) to comply with the letter or
spirit of any Term, or if you become insolvent, or if you initiate bankruptcy
proceedings, or if Company is otherwise so compelled by law or unanticipated
technical or security issues, Company may terminate, suspend or restrict any
Term at its sole discretion and without notice to you. <o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal;mso-outline-level:3'><b><span style='font-size:13.5pt;
font-family:"Times New Roman";mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:"Times New Roman"'>12. Unsolicited Submission Policy<o:p></o:p></span></b></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>Unless
expressly requested by Company in writing, Company will not consider, review or
evaluate unsolicited ideas, &quot;pitches,&quot; scripts, treatments,
compositions, business models, product or service descriptions or any other
confidential or proprietary information that you submit to Company. This policy
serves to avoid misunderstandings in the unlikely event that any of Company's
business or creative activities <span class=GramE>have</span> some coincidental
similarities with the activities of another. If, in spite of this policy you
still choose to submit any such items to Company , then you specifically agree
that: (1) your entire submission will automatically become the sole and
exclusive property of Company, and you will not receive any form of
compensation for it; (2) Company will have no obligation to return your
submission or respond to you in any way; (3) Company will have no obligation to
keep your submission confidential or secret; and (4) Company has a
royalty-free, unrestricted, worldwide, perpetual, irrevocable, non-exclusive
and fully transferable, assignable and <span class=SpellE>sublicensable</span>
right and license to copy, reproduce, modify, adapt, publish, translate, create
derivative works from, distribute, perform, or display your submission for any
purpose whatsoever. <o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>Further,
to the extent that you may choose to communicate such items to another user in
the Company community, you act completely at your own risk and Company will in
no way be responsible for ensuring that the recipient considers, reviews or
evaluates your submission, or compensates you for them or preserves their
confidentiality. <o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal;mso-outline-level:3'><b><span style='font-size:13.5pt;
font-family:"Times New Roman";mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:"Times New Roman"'>13. Meetings with Other Users<o:p></o:p></span></b></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>Users
may arrange and attend online virtual meetings or in-person meetings
(&quot;Meetings&quot;) with one or more individuals. Users are solely
responsible for interactions with others. Users must comply with Company's
policies and acknowledge and agree to comply with the laws of the city, county
and country in which the Meeting occurs. Additional eligibility requirements
for a particular group or Meeting may be set by the group's contact person.
Company is not involved with user generated groups, the groups' requirements,
or the Meetings. <o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>Company
does not supervise or control the Meetings, user-initiated online or offline
gatherings, or the interactions among and between users and other persons or
companies. Users are solely responsible for interactions with others. Users
understand that Company does not in any way screen its users. All users agree
to exercise good caution and judgment in all interactions with others,
particularly if meeting offline or in person. <o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal;mso-outline-level:3'><b><span style='font-size:13.5pt;
font-family:"Times New Roman";mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:"Times New Roman"'>14. Disputes with Company and Other
Users<o:p></o:p></span></b></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal'><b><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>a.
User Disputes</span></b><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>
<o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>We
reserve the right, but have no obligation, to monitor and/or manage disputes
between you and other users of the Website and the Company Services. If you
have a dispute with other users, you release Company and hereby agree to
indemnify Company from claims, demands, and damages (actual and consequential)
of every kind and nature, known and unknown, arising out of or in any way
connected with such dispute.<o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal'><b><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>b.
Resolution of Disputes with Company and Release</span></b><span
style='font-size:12.0pt;font-family:"Times New Roman";mso-fareast-font-family:
"Times New Roman";mso-bidi-font-family:"Times New Roman"'> <o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>In
the event a dispute arises between you and Company, please contact us.<o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal;mso-outline-level:3'><b><span style='font-size:13.5pt;
font-family:"Times New Roman";mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:"Times New Roman"'>15. Third-Party Materials and Websites<o:p></o:p></span></b></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>Certain
Company Services, including without limitation the Website, may include access
to materials or information created by or obtained via third parties, or links
to other websites that have such items. You understand and agree that, due to
the unique nature of digital content and the Internet generally, Company does
not and cannot review or control the accuracy, appropriateness or completeness
of such materials or information, and has no liability whatsoever arising from
your exposure thereto. <o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal;mso-outline-level:3'><b><span style='font-size:13.5pt;
font-family:"Times New Roman";mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:"Times New Roman"'>16. Data Transfer<o:p></o:p></span></b></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>By
using one or more Company Services, including without limitation the Website,
or conducting any business with Company, you may be causing communications or
information to be sent through computers and electronic networks in other
locations in the United States and abroad. You agree that Company is permitted
to take such actions where reasonably necessary to facilitate these
interactions as part of its providing Company Services to you. <o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal;mso-outline-level:3'><b><span style='font-size:13.5pt;
font-family:"Times New Roman";mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:"Times New Roman"'>17. Advertising<o:p></o:p></span></b></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>Certain
Company Services, including without limitation the Website, may include
advertisements, whether from Company or third parties with whom Company
partners. This advertising may be targeted to information found within one or
more Company Services, whether submitted by you or by others. You consent to
the placement, targeting and display of such advertising as consideration for
your use of the Company Services. In addition, Company and/or its partners,
affiliates or agents may, from time to time, send you pertinent information
about the Company Services or other offerings which may be of interest to you.
You consent to receive such communications as part of using the Company
Services, including without limitation the Website. However, you may
&quot;opt-out&quot; of any such communications at any time by sending an email
to: team@Spruceling.com with the words &quot;Opt Out&quot; in the subject line.
<o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal;mso-outline-level:3'><b><span style='font-size:13.5pt;
font-family:"Times New Roman";mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:"Times New Roman"'>18. Identity Verification<o:p></o:p></span></b></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>While
using certain Company Services, including without limitation the Website, you
may from time to time interact with third parties who are misrepresenting their
identity or otherwise acting under false pretenses. You agree that Company does
not and cannot confirm each user's purported identity, and is not responsible
for any damage or loss resulting from these activities. You bear sole
responsibility for evaluating and verifying with whom you are interacting and
whether any information they may provide is accurate or trustworthy. <o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal;mso-outline-level:3'><b><span style='font-size:13.5pt;
font-family:"Times New Roman";mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:"Times New Roman"'>19. Privacy<o:p></o:p></span></b></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>Except
as provided in Company's Privacy Policy. Company will not sell or disclose your
personal information to third parties without your explicit consent. Company
stores and processes content on computers that are protected by physical as
well as technological security. <o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal;mso-outline-level:3'><b><span style='font-size:13.5pt;
font-family:"Times New Roman";mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:"Times New Roman"'>20. Intellectual Property of Company<o:p></o:p></span></b></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>The
content on the Website, except for Content by users, the trademarks, service
marks and logos contained herein (“Marks”), are owned by and licensed to
Company. Materials provided on the Website are provided to you AS IS for your
information and personal use only and may not be used, copied, reproduced,
distributed, transmitted, broadcast, displayed, sold, licensed or otherwise
exploited for any other purposes whatsoever without the prior written consent
of the respective owners. Company reserves all rights not expressly granted in
and to the Website and the Materials. You agree to not engaged in the use,
copying, or distribution of any of the Materials other than expressly permitted
by Company, including any use, copying or distribution of third parties’
materials obtained through the website for any commercial purposes. If you
download or print a copy of the Materials for personal use, you must retain all
copyright and other proprietary notices contained herein. You agree not to
circumvent, disable or otherwise interfere with security feature of the Website
or features that prevent or restrict use or copying of any Materials or enforce
limitations on use of the Website or the Materials therein. <o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal;mso-outline-level:3'><b><span style='font-size:13.5pt;
font-family:"Times New Roman";mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:"Times New Roman"'>21. Services Changes<o:p></o:p></span></b></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>Company
reserves the right to make changes to any Company Services, including without
limitation the Website or your user account, or to cease providing such Company
Services (whether permanently or on an interim basis) at its option and without
prior notice to you. <o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal;mso-outline-level:3'><b><span style='font-size:13.5pt;
font-family:"Times New Roman";mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:"Times New Roman"'>22. Entire Agreement<o:p></o:p></span></b></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>These
Terms collectively represent the entire agreement and understanding between you
and Company and supersede any other agreement or understanding (written, oral
or implied) that you and Company may have had. Any statement, inducement,
promise, covenant or condition not expressly found either in these Terms shall
be deemed as void. <o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal;mso-outline-level:3'><b><span style='font-size:13.5pt;
font-family:"Times New Roman";mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:"Times New Roman"'>23. Force Majeure<o:p></o:p></span></b></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>Neither
you nor Company will be deemed to have any liability whatsoever to the other or
to any third party for any failure of performance hereunder occasioned by an
act of God, force of nature, war or warlike activity, insurrection or civil
commotion, labor dispute, transportation delay, governmental regulatory action
whether or not with proper authority or other cause similar or dissimilar to
the foregoing and beyond its reasonable control, provided the affected party
gives prompt notice to the other party. <o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal;mso-outline-level:3'><b><span style='font-size:13.5pt;
font-family:"Times New Roman";mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:"Times New Roman"'>24. Severability<o:p></o:p></span></b></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>Each
Term shall be deemed to be severable. If any Term or portion thereof is found
to be invalid or unenforceable, such invalidity or unenforceability shall in no
way effect the validity or enforceability of any other Term. <o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal;mso-outline-level:3'><b><span style='font-size:13.5pt;
font-family:"Times New Roman";mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:"Times New Roman"'>25. Notices<o:p></o:p></span></b></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>Both
you and Company may give notice to one another as follows: (i) electronic mail
transmission; (ii) first class mail or certified mail, postage prepaid; (iii)
or express courier, cost prepaid. Unless otherwise specified, if such notice is
sent to The Whoot it should be directed to Spruceling Inc.; Attn: Legal
Department; 20 Valley Stream Parkway Suite #265, Malvern PA 19355 (in the case
of Spruceling) or, in your case, to the email address you provide to Company
(either during the registration process or when your email address changes).
Notice shall be deemed given 24 hours after email is sent, unless the sending
party is notified that the email address is invalid. Alternatively, Company may
give you notice by certified mail, postage prepaid and return receipt
requested, to the address provided to Company. In such case, notice shall be
deemed given three days after the date of mailing. <o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal;mso-outline-level:3'><b><span style='font-size:13.5pt;
font-family:"Times New Roman";mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:"Times New Roman"'>26. Assignment/Sublicensing<o:p></o:p></span></b></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>These
Terms, and any rights and licenses granted hereunder, may not be transferred,
assigned or sublicensed by you without Company's express written consent. On the
other hand, Company may assign, sublicense or otherwise transfer these Terms or
any individual Term, at its option, without restriction and without prior
notice to you. <o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal;mso-outline-level:3'><b><span style='font-size:13.5pt;
font-family:"Times New Roman";mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:"Times New Roman"'>27. Survival<o:p></o:p></span></b></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>Following
termination of these Terms and/or your commercial relationship with Company
generally, any Term logically extended beyond such termination shall survive to
the fullest extent necessary to allow you and Company to enforce any rights
obtained or obligations incurred hereunder. <o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal;mso-outline-level:3'><b><span style='font-size:13.5pt;
font-family:"Times New Roman";mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:"Times New Roman"'>28. Third-Party Beneficiaries<o:p></o:p></span></b></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman";
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>No
Term is meant or intended to benefit any third party.<o:p></o:p></span></p>

