%p
  Your Spruceling box has arrived!

%p Here's the box we're talking about:

%div= render "boxes/link", :box => @box
%div= render "boxes/itemized", :box => @box

%p= "If there are any issues with your box, please notify us at #{link_to 'support@spruceling.com', 'mailto:support@spruceling.com'}. Enjoy your new wardrobe!".html_safe

%p The Spruceling Team