$body-bg-color: #F5F6F3;
$left-fixed-width: 240px;

$header-navbar-height: 60px;

$link-color: #2693FF;

$boys-color: #2693FF;
$boys-color-lighter: lighten($boys-color, 37%);

$girls-color: #FF73FF;

$action-color: #F9A01B;
$green: #91C540;