/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 //= require foundation_and_overrides
 //= require font-awesome
 *= require_self
*/

/* apply a natural box layout model to all elements */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

@import "compass";
@import "variables";
//@import "sprites";
@import "soulmate";

html {
  height: 100%;
}
body {
  height: 100%;
  padding: 0;
  margin: 0;
  background: $body-bg-color;
  &.wf-loading {
    visibility: hidden;
  }
}

p {
  line-height: 1.2;
  margin-bottom: 15px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul.nav {
  list-style: none;
  margin: 0 0 2em;
  padding: 0;
}
ul.nav li {
  display: inline;
}
a {
  color: $link-color;
  &:hover {
    background: transparent;
  }
}
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  @include border-radius(0);
  @include single-box-shadow(none);
  border: 1px solid #999;
  height: auto;
  margin: 0;
  max-width: 350px;
  font-size: 14px;
  padding: 8px;

  &:focus {
    box-shadow: none !important;
    outline: none !important;
  }
}
.form-row {
  margin: 0 0 15px 0;
}
label {
  cursor: default;
}
#flash_notice, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}
#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}
#flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}
#data-pjax-container {
  height: 100%;
}
.fullscreen {
  height: 100%;

  #header {
    position: fixed;
    width: 100%;
    top: 0;
    .main-container {
      width: 100%;
    }
  }
  >.main-container {
    height: 100%;
    padding: 0;
  }
  #main {
    height: 100%;
    min-height: none;
    padding: $header-navbar-height 0 0 0;
  }
  .main-window {
    height: 100%;
  }
}
.button {
  &.action {
    color: white;
    background: $action-color;
    border-color: darken($action-color, 10%);
    &:hover {
      color: white;
      background: darken($action-color, 10%);
    }
  }
  &.button.disabled,
  &.button[disabled] {
    color: white;
    background: $grayLight;
    border-color: $grayLight;
    &:hover {
      color: white;
      background: $grayLight;
    }
  }
}

#header {
  z-index: 200;
  position: relative;
  height: $header-navbar-height;
  background: #FFF;
  border-top: 5px solid $action-color;
  border-bottom: 1px solid #999;

  .brand {
    img {
      height: 46px;
      margin: 4px 0 0 10px;
    }
  }
  .social-icon {
    font-size: 23px;
    font-size: 2.3rem;
    left: 20px;
    position: relative;
    margin: 0 0 0 2px;
    bottom: 13px;
    color: #999;
  }
  .part {
    float: right;
    text-transform: uppercase;
    display: inline-block;
    padding: 22px 20px 19px 20px;
    color: #000;
    position: relative;
    height: 55px;
    &:hover {
      background-color: $action-color;
      color: #FFF;
    }
  }

  .dropdown-container {
    float: right;
    position: relative;

    .photo {
      @include border-radius(2px);
      position: absolute;
      top: 12px;
      left: 10px;
    }

    .my_boxes {
      padding-left: 52px;
      padding-right: 38px;
      min-width: 160px;
    }
    .dropdown-menu {
      display: none;
      position: absolute;
      right: 0;
      top: 54px;
      width: 100%;
      background: #EFEFEF;
      border: 1px solid $action-color;
      border-top: none;
      padding: 10px 0 10px 0;

      a:hover {
        background-color: $action-color;
        color: #FFF;
        i {
          color: #FFF;
        }
      }
      a {
        padding: 5px 20px 5px 60px;
        display: block;
        width: 100%;
        i {
          position: absolute;
          left: 23px;
          color: $link-color;
        }
      }
    }
    .name {
      font-weight: bold;
      padding: 13px 41px 23px 20px;
      margin: 10px 0 0 0;
      display: block;
      &:hover {
        background-color: $action-color;
        color: #FFF;
      }
    }
    .icon-chevron-down {
      position: absolute;
      right: 17px;
      top: 22px;
    }
    &:hover {
      .dropdown-menu {
        display: block;
      }
      .part {
        background-color: $action-color;
        color: #FFF;
      }
    }
  }
  .small-menu {
    display: none;
    .part {
      padding-right: 35px;
    }
    .dropdown-menu {
      width: 190px;
    }
  }
  .new_box {
    cursor: pointer;
  }
  #new_box {
    position: absolute;
    top: 54px;
    right: 0;
    background: #EFEFEF;
    width: 374px;
    display: none;
    border: 1px solid $action-color;
    border-top: none;
    padding: 15px;
    z-index: 200;
    text-align: left;
    cursor: default;
    text-transform: none;

    h5 {
      font-weight: normal;
      margin: 0 0 15px 0;
    }
    input,
    select {
      display: block;
    }
    .button {
      clear: both;
      display: block;
      margin: 20px 0 0 0;
    }
  }
}

#under-header {
  #charity-meter {
    @include border-bottom-left-radius(10px);
    @include border-bottom-right-radius(10px);
    background: lighten($green, 35%);
    padding: 15px 10px 5px;
    margin-bottom: -15px;
    .desc {
      padding: 0 0 0 10px;
      a {
        color: $action-color;
        &:hover {
          color: darken($action-color, 10%);
          text-decoration: underline;
        }
      }
    }
    .goal {
      padding: 0 10px 0 0;
      text-align: right;
      .amount {
        color: $action-color;
      }
    }
    .progress {
      position: relative;
      margin-top: 15px;
      height: 31px;
      .meter {
        background-color: $green;
      }
      .left {
        position: absolute;
        top: 7px;
        left: 10px;
      }
      .right {
        position: absolute;
        top: 7px;
        right: 10px;
      }
    }
  }
}

.main-container {
  width: 1260px;
  padding: 0 10px;
  margin: auto;
}
#main {
  min-height: 600px;
}
.main-window {
  @include box-shadow(rgba(0, 0, 0, 0.3) 0 1px 2px);
  background: #FFF;
  margin-top: 40px;

  h1 {
    border-bottom: 1px solid #BBB;
    padding: 15px 25px;
    font-size: 30px;
    margin: 0;
    background: #F9F9F9;
  }
  .section {
    margin: 25px 25px 50px 25px;

    >.head {
      border-bottom: 1px solid #DDD;
      padding: 0 0 10px 1px;
      margin: 0 0 15px 0;
      h3 {
        padding: 0;
        margin: 0;
        font-size: 22px;
        font-size: 2.2rem;
        text-transform: uppercase;
        font-weight: normal;
      }
      .subheader {
        margin: 2px 0 0 0;
        padding: 0;
        font-size: 16px;
      }
    }
    >.content {

    }
  }
}
.clear {
  clear: both;
}
#footer {
  margin: 70px 0 -14px 0;
  border-bottom: 5px solid $green;

  .main-container {
    position: relative;
  }
  .top {
    @include clearfix();
    padding: 25px 0;
    background: #CCC;

    .social-icons {
      position: absolute;
      top: -4px;
      left: 10px;
    }
    .social-icon {
      float: left;
      font-size: 30px;
      font-size: 3rem;
      margin-right: 15px;
    }
    .icon-facebook-sign {
      color: $fb-color;
    }
    .icon-twitter-sign {
      color: $tw-color;
    }
    .icon-pinterest-sign {
      color: $pinterest-color;
    }
    .shipping,
    .returns {
      font-size: 20px;
      font-size: 2rem;
      float: right;
      margin: 0 0 0 50px;
    }
  }
  .bottom {
    @include clearfix();
    background: #222;
    padding: 25px 0;

    .section {
      float: left;
      margin: 0 100px 0 0;
      color: #EFEFEF;

      .head {
        text-transform: uppercase;
        color: #EFEFEF;
        font-size: 20px;
        font-size: 2rem;
        font-weight: bold;
        margin: 0 0 10px 0;
        cursor: default;
      }
      ul {

      }
      li {
        a {
          color: #EFEFEF;
        }
      }

    }
  }
}

.main-container_wrap {
  @include clearfix();
}

.with-left-fixed {
  #main {
    padding-left: $left-fixed-width;
  }
}
.left-fixed {
  width: $left-fixed-width;
  margin-left: -1 * $left-fixed-width;
  float: left;
  padding-right: 30px;
}

#left_sidebar {
  margin-top: 40px;

  .section {
    margin: 0 0 30px 0;

    h5 {
      padding: 4px 2px;
      margin: 0;
      &.with-border {
        border-bottom: 1px solid #E3E3E3;
        margin-bottom: 10px;
      }
    }
    .content {
    }
  }

  .button-group {
    .a_wrapper {
      padding: 0px;

      a {
        font-weight: normal;
        display: block;
        width: 100%;
        padding: 5px 7px;
        color: #000;
        &:hover {
          background: lighten($action-color, 30%);
          cursor: pointer;
        }
        &.on {
          background: lighten($action-color, 30%);
        }
      }
    }
  }

  .multi-select,
  .single-select {
    max-height: 250px;
    overflow-y: auto;
    border-top: 1px solid #E3E3E3;
    border-bottom: 1px solid #E3E3E3;
    padding: 5px 0;

    li {
      padding: 3px 10px;

      &:hover {
        background: lighten($action-color, 30%);
        cursor: pointer;
      }
      &.on {
        background: $action-color;
        color: #FFF;
      }
      &.a_wrapper {
        padding: 0px;

        a {
          display: block;
          width: 100%;
          padding: 3px 7px;
          color: #000;
          &:hover {
            background: lighten($action-color, 30%);
            cursor: pointer;
          }
          &.on {
            background: lighten($action-color, 30%);
          }
        }
      }
    }
  }
}

.color {
  &.f,
  &.girl,
  &.girls {
    color: $girls-color;
  }
  &.m,
  &.boy,
  &.boys {
    color: $boys-color;
  }
}

.cover-image {
  background-position: 50% center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  width: 100%;
  height: 100%;
}

.contain-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  width: 100%;
  height: 100%;
}

.single-page {
  max-width: 800px;
  margin: 0 auto;

  h1 {
    border-bottom: 1px solid #DDD;
  }
  #main {

  }
}

.upload {
  margin: 10px 0;
  font-weight: bold;
  .progress {
    margin: 3px 0 0 0;
    .bar {
      background: green;
      height: 100%;
    }
  }
}

#carts-show,
#orders-index,
#boxes-edit,
#boxes-update,
#registrations-new,
#registrations-create,
#static-terms,
#static-about,
#static-privacy,
#pages-home {
  .main-container {
    max-width: 960px;
  }
}

#boxes-index,
#users-show,
#pages-home {
  .main-window {
    @include box-shadow(none);
    background: transparent;
  }
}

#loader {
  display: none;
}

@import "forms";
@import "home";
@import "boxes";
@import "carts";
@import "items";
@import "orders";
@import "users";
@import "withdrawals";
@import "media_queries";
@import "static";
