/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
*/

/* apply a natural box layout model to all elements */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

@import "bootstrap";
@import "compass/css3";
@import "compass/utilities";
@import "compass/css3/box-sizing";

$site-width: 960px;
$sidebar-width: 200px;

$boys-color: #2693FF;
$girls-color: #FF73FF;

body {
  margin: 0;
  padding: 0;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif !important;
}

.brand {
  float: left;
  padding-right: 8px;
}
ul.nav {
  list-style: none;
  margin: 0 0 2em;
  padding: 0;
}
ul.nav li {
  display: inline;
}
#flash_notice, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}
#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}
#flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

#full {
  #header {
    background: #CCC;
    height: 50px;

    .nav_link {
      float: right;
      padding: 10px;
      font-size: 16px;
      border-right: 1px solid #666;
    }
    .dropdown {
      float: right;
    }
    .dropdown-toggle {
      padding: 10px;

      .caret {
        margin-top: 18px;
      }
      &:hover {
        background: transparent;
      }
    }
  }
  #container {
    width: $site-width;
    margin: auto;
  }
  #main {
    width: $site-width - $sidebar-width;
    float: left;
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
    min-height: 600px;
  }
  #footer {
    background: #CCC;
    height: 30px;
    margin-left: $sidebar-width;
  }
}

#container_wrap {
  @include clearfix();
}

#left_sidebar {
  width: $sidebar-width;
  float: left;

  .head {
    font-size: 13px;
    padding: 5px 0 5px 27px;
    position: relative;
    font-weight: bold;
    margin: 20px 0 0 0;

    .icon {
      position: absolute;
      top: 50%;
      margin-top: -7.5px;
      left: 5px;
      width: 15px;
      height: 15px;
      background: #999;
    }
    &.on {
      background: #EEE;
    }
  }

  .section {
    margin: 10px 0 0 27px;

    .section-head {
      font-weight: bold;
      font-size: 12px;
      border-bottom: 1px solid #EEE;
      margin: 0 0 5px 0;
    }
  }
}

@import "scaffolds";
@import "home";
@import "boxes";
@import "carts";
@import "items";
@import "orders";