$box-teaser-width: 310px;
$box-teaser-height: 355px;

.box-sidebar-filters {

  .item {
    &.radio {
      padding: 2px 0 2px 25px;
      position: relative;
      font-size: 12px;

      input {
        position: absolute;
        top: 50%;
        margin-top: -10px;
        left: 19px;
      }
    }
  }
}

#box_list {
  margin: -10px 0 0 0;
}

.box_teaser {
  @include box-shadow(rgba(0, 0, 0, 0.15) 0 1px 2px);
  width: $box-teaser-width;
  height: $box-teaser-height;
  float: left;
  margin: 10px;
  background: #FFF;
  position: relative;

  .photo-wrapper {
    width: 100%;
    display: block;
    position: relative;
    height: 202px;

    .brand {
      position: absolute;
      right: 0px;
      height: 100px;
      width: 100px;

      &.one {
        top: 0;
      }
      &.two {
        top: 102px;
      }
      img {
        margin: 20px auto;
      }
    }
    .primary-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 208px;
      height: 201px;
    }
    img {
      display: block;
    }
    .photo {
      height: 100%;
      width: 100%;
    }
  }
  .icon-certificate {
    font-size: 50px;
    font-size: 5rem;
    position: absolute;
    top: -20px;
    left: -10px;
    color: $action-color;
    cursor: default;

    span {
      position: absolute;
      top: 13px;
      left: 0;
      color: #FFF;
      font-weight: bold;
      font-size: 20px;
      font-size: 2rem;
      text-align: center;
      width: 40px;
      font-style: normal;
    }
  }
  .item-types {
    padding: 0 5px 10px 5px;
    margin: -5px -5px 12px -5px;
    border-bottom: 1px solid #EFEFEF;
    img {
      margin: 0 5px 0 0;
      width: 25px;
    }
  }
  .bottom {
    padding: 20px;
  }
  .user,
  .gender_size {
    font-size: 16px;
  }
  .gender_size {
    margin: 0 0 7px 0;
  }
  .prices {
    .seller {
      font-weight: bold;
    }
    .retail {
      text-decoration: line-through;
      color: #CCC;
      margin: 0 15px 0 3px;
    }
    .savings {
      color: $green;
    }
  }
  .add_to_cart {
    margin: 20px 0 0 0;
    display: inline-block;
    color: #222;
    &:hover {
      text-decoration: underline;
    }
  }
  .actions {
    @include box-shadow(rgba(0, 0, 0, 0.15) 0 1px 2px);
    $background: darken($site-background-color, 10%);
    background: $background;
    position: absolute;
    top: -2px;
    right: 10px;
    padding: 7px 10px;
    z-index: 100;

    ul {
      display: none;
      position: absolute;
      top: 0px;
      right: 0px;
      padding: 5px 0;
      background: $background;
    }
    li {
      font-weight: bold;
      a {
        padding: 5px 20px;
      }
    }
    &:hover {
      ul {
        display: block;
      }
    }
  }
  &.no-brand-icons {
    .primary-image {
      width: 310px;
    }
  }
  &:hover {
    @include box-shadow(rgba(0, 0, 0, 0.3) 0 1px 2px);
    .add_to_cart {
      color: $action-color;
    }
  }
}

#boxes-edit,
#boxes-update {
  .photo-list {
    @include clearfix();
    .photo {
      width: 150px;
      height: 150px;
      float: left;
      margin: 10px 10px 0 0;
      position: relative;

      .remove {
        position: absolute;
        bottom: 2px;
        left: 2px;
        color: $red;
        background: #FFF;
        padding: 5px 8px;
      }
    }
  }
  .errors {
    margin: 0 0 0 25px;
  }
  .checkbox {
    margin: 0 0 10px 0;
  }
  .item-list {
    padding: 10px 0 25px 10px;
  }
  .item_form_teaser {
    margin: 4px 0;
  }
  .item_form {
    .input,.nwt,select {
      float: left;
    }
    select,
    input {
      width: 250px;
    }
    .nwt {
      margin: 10px 0 0 0;
      input {
        width: 50px;
      }
    }
    #item_brand {
      margin: 0 0 0 15px;
    }
  }
  .input {
    position: relative;
  }
  .price {
    .recommended {
      span {
        font-weight: bold;
        color: $green;
      }
    }
  }
  .asking-price {
    @include clearfix();
    margin: 15px 0;

    .input {
      width: 70px;
      float: left;
    }
    .name {
      background: #f3f3f3;
      border: 1px solid #999;
      float: left;
      color: #666;
      cursor: default;
      font-size: 18px;
      margin: 0 0 0 -1px;
      padding: 8px 15px;
    }
  }
  .shipping {
    border: 1px solid #CCC;
    background: #F3F3F3;
    padding: 15px 15px 15px 50px;
    display: inline-block;
    position: relative;

    .icon-road {
      font-size: 20px;
      position: absolute;
      top: 26px;
      left: 15px;
    }
    h5 {
      margin: 0 0 5px 0;
    }
    span {
      color: $green;
      font-weight: bold;
    }
  }
  .submit {
    margin: 0 0 0 25px;
  }
}

#boxes-show {
  h1 {
    .add_to_cart {
      position: absolute;
      margin: -3px 0 0 30px;
    }
  }
  .price {
    font-size: 26px;

    .seller {
      font-weight: bold;
    }
    .retail {
      font-weight: bold;
      text-decoration: line-through;
      color: #CCC;
      margin: 0 20px 0 10px;
    }
    .savings {
      font-size: 18px;
      color: #CCC;
      .off {
        font-weight: bold;
        color: $green;
      }
    }
  }
  .orbit {
    margin-bottom: 0px;
  }
  .orbit-wrapper {
    max-width: 600px !important;
    background: #FFF;
    border: 1px solid #999;
    margin: 30px 0 40px 0;
  }
  #photo-list {
    width: 100% !important;
    height: 400px !important;
    .photo {
      width: 100%;
      height: 100%;
    }
  }
  .box_items {
    margin: 0 0 20px 0;
  }
  .brands {
    ul {
      @include clearfix();
    }
    li {
      float: left;
      margin: 10px 20px 0 0;
      img {
        width: 100px;
      }
      div {
        display: table-cell;
        vertical-align: middle;
        height: 100px;
      }
    }
  }
  .item-types {
    ul {
      li {
        font-size: 2rem;
        padding: 22px 0 0 55px;
        position: relative;
      }
      img {
        position: absolute;
        top: 15px;
        left: 0;
      }
    }
  }
}

#box_paginator {
  padding: 20px 0 10px;
  clear: left;
  text-align: center;
  a {
    padding: 3px 5px;
  }
  .current {
    padding: 3px 5px;
  }
}

#boxes-show {
  .rate-me {
    background: #CCFFCC;
    border-bottom: 1px solid #66CC66;
    padding: 25px;
    margin: 0px;
    .rating_form {
      .left {
        padding-right: 20px;
        input {
          margin-bottom: 0px;
        }
      }
      textarea {
        max-width: 100%;
      }
    }
    h4 {
      margin-top: 0;
    }
    .review {
      margin-top: 10px;
    }
  }
}

.blank-box {
  width: $box-teaser-width;
  height: $box-teaser-height;
  float: left;
  margin: 10px;
  border: 2px dashed #CCC;
  .none {
    text-align: center;
    font-size: 20px;
    font-size: 2rem;
    font-weight: bold;
    color: #999;
    margin: 50px 20px;
  }
  .upload {
    text-align: center;
    display: block;
  }
  .share {
    color: #999;
    font-size: 15px;
    font-size: 1.5rem;
    margin: 55px 20px 10px 20px;
  }
  .buttons {
    margin: 0 20px;
  }
  .fb-like {
    margin-bottom: 10px;
  }
}

#boxes-new {
  .section {
    .address-h {
      margin-bottom: 0;
    }
    .input {
      margin-bottom: 14px;
    }
  }
}