.box-sidebar-filters {

  .item {

    &.radio {
      padding: 2px 0 2px 25px;
      position: relative;
      font-size: 12px;

      input {
        position: absolute;
        top: 50%;
        margin-top: -10px;
        left: 19px;
      }
    }
    &.select {
      select {
        width: 160px;
      }
    }
  }

  .submit {

  }
}

#box_list {
  margin: 30px 19px;
}

.box_teaser {
  @include single-box-shadow(rgba(0, 0, 0, 0.2), 1px, 1px, 2px);
  width: 220px;
  float: left;
  border: 1px solid #CCC;
  margin: 10px;

  .photo {
    width: 100%;
    display: block;
    position: relative;

    img {
      display: block;
    }
    .bottom {
      position: absolute;
      top: 0px;
      left: 0px;
      background: #FFF;
      background: rgba(255, 255, 255, 0.9);
      width: 100%;
      padding: 7px 10px;
      font-size: 16px;
      font-weight: bold;

      &.m {
        color: $boys-color;
      }
      &.f {
        color: $girls-color;
      }
    }
  }
  .user {
    font-size: 16px;
    margin: 7px 10px;
  }
}