// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#cart_show {
  padding: 20px;

  h1 {
    margin-bottom: 30px;
  }
  table {
    width: 100%;
    margin-top: 10px;
    th {
      padding: 10px 20px;
      text-align: left;
    }
    tr {
      background: #FFF;
      td {
        padding: 10px 20px;
      }
    }
    .shipping td,
    .total td {
      border-top: 1px solid #DDD;
    }
    .total {
      background: #F9F9F9;
    }
  }
  .buy {
    margin-top: 0px
  }

  .toggle_edit_payment,
  .toggle_edit_address,
  .covered {
    display: block;
    margin: 10px 0;
  }
}
