.item-form {
  position: relative;
  padding-left: 300px;

  .photo-wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 300px;
  }
  .inputs {
    .item {
      padding: 10px 0;
    }
  }
}