#left_sidebar {
  .photo {
    @include box-shadow(rgba(0, 0, 0, 0.15) 0 1px 2px);
    display: block;
    border: 5px solid #FFF;
  }
  .username {

  }
}

#edit_user {
  margin: 0 0 20px;
  label {
    float: left;
    margin-right: 10px;
  }
  input {
    clear: left;
  }
}

#edit_information {
  .current_address,
  .current_payment {
    margin-bottom: 20px;
  }
}

#payment-form {
  .cvc-row {
    float: left;
    margin-right: 50px;
  }
  .card-cvc {
    width: 50px;
  }
  .card-expiry-month {
    width: 35px;
    float: left;
    margin-right: 10px;
  }
  .card-expiry-year {
    width: 55px;
  }
}

.new_session,
.new_registration {
  max-width: 600px;
  margin: auto;
  padding: 20px 0 40px;
  h1 {
    text-align: center;
    background-color: transparent;
    border: none;
  }
  .left, .right {
    padding: 15px;
  }
  .left {
    text-align: right;
    .facebook_login {
      display: block;
      position: relative;
      vertical-align: middle;
      width: 100%;
      text-align: left;
      padding: 10px 10px 10px 40px;
      margin: 17px 0 0 0;
      color: #FFF;
      background-color: $fb-color;
      .icon-facebook {
        position: absolute;
        left: 15px;
        top: 2px;
        font-size: 40px;
      }
    }
  }
  .right {
    border-left: 1px solid #AAA;
    >form div {
      margin-bottom: 10px;
    }
  }
}

.new_confirmation,
.new_password {
  padding: 20px 0 40px;
  max-width: 320px;
  margin: auto;
  h5 {
    text-align: center;
  }
  .form-actions {
    text-align: center;
  }
}

.devise-links {
  padding-top: 30px;
  text-align: center;
  a {
    display: block;
    margin-bottom: 10px
  }
}