// Place all the styles related to the withdrawals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#new_withdrawal {
  #toggle_withdraw {
    margin-bottom: 15px;
    display: block;
  }
  .address {
    margin-bottom: 15px;
  }
}